.Taggable {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 50px;
}

.profilePicContainer,
.postMetaDetails {
    display: inline-block;
    vertical-align: top;
}

.profilePicContainer img {
    width: 50px;
    height: 50px;
}

.postMetaDetails * {
    font-size: 0.9rem;
}


.settings-icon {
    font-size: 16px;
}


.taggableMainContentHolder,
.viewMoreCommentsBtnHolder,
.replyForm {
    text-align: left;
}


.taggableMainContentHolder {
    border: 1px solid black;
    margin: 20px 0;
    padding: 0;
    /* width: 600px; */
}

.taggableMainContentHolder iframe {
    width: 550px;
    height: calc(550px * 0.5625);
}