/* FriendSuggestions */
.SearchedResult ul {
    /* margin-left: 0; */
}

.SearchedUserItem {
    border-bottom: 1px solid rgb(245, 245, 245);
    list-style-type: none;
    text-align: left;
}

.SearchedUserItem div {
    display: inline-block;
    vertical-align: top;
    /* background-color: yellow; */
    padding: 10px;
    padding-left: 0;
}

.SearchedUserItem img {
    width: 70px;
}

.SearchedUserItem .username,
.SearchedUserItem .fullName {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
    margin-bottom: 0;
}


.SearchedUserItem .username {
    font-weight: 200;
    font-size: 0.9rem;
}

.SearchedUserItem .fullName {
    font-weight: 200;
    font-size: 0.7rem;

}

.SearchedUserItem .FollowButton {
    display: block;
    padding: .2rem .5rem;
    font-size: 0.7rem;
}

#HomeContainerRef {
    width: 500px;
    height: 5px;
    background-color: red;
}